<h1>Page 1</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus similique quisquam, reiciendis eius corporis quibusdam unde dolorem maxime, non optio! Voluptates placeat distinctio nemo vel consequuntur blanditiis fugiat dignissimos!</p>

<%= link_to 'Go to page 2 >', page2_path %>
