<h1>Page 1</h1>

<div data-controller="colors">
  <input type="text"
         autocomplete="off"
         placeholder="Type an HTML color"
         data-colors-target="input">

  <button class="bg-gray-200 border border-gray-500 rounded p-2">Color it!</button>

  <div class="border border-black w-32 h-32 rounded mt-5"
       data-colors-target="card"></div>
</div>
