<h1>Programming languages</h1>

<table>
  <thead>
    <th class="border p-2 text-center">Name</th>
    <th class="border p-2 text-center">Release date</th>
  </thead>
  <tbody>
    <%= render @programming_languages %>
  </tbody>
</table>
